<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <img src="../../../../assets/contacts.png" style="width: 100%;">
           <div class="card">
               <div class="card-header">
                   <h1 class="text-center">Your Contact</h1>
               </div>
               <div class="card-body">
                <form [formGroup]="contactPage">
                    <div class="form-group">
                      <label for="InputEmail">Email address</label>
                      <input type="email" class="form-control" formControlName="email" id="InputEmail"  name="email" formControlName="email"
                      placeholder="Enter email" [class.is-invalid]="email?.invalid && email?.touched"
                      [class.is-valid]="email?.valid && email?.touched">
                  <div *ngIf="email?.invalid && email?.touched">
                      <small class="text-danger" *ngIf="email?.errors?.required">field is required</small>
                  </div> 
                    </div>
                    <div class="form-group">
                      <label for="Phone">Phone No</label>
                      <input type="number" class="form-control" id="Phone" formControlName="phone" placeholder="Phone" [class.is-invalid]="phone?.invalid && phone?.touched"
                      [class.is-valid]="phone?.valid && phone?.touched">
                  <div *ngIf="phone?.invalid && phone?.touched">
                      <small class="text-danger" *ngIf="phone?.errors?.required">field is required</small>
                  </div>
                    </div>

                    <a routerLink="/financial"><button class=" btn btn-previous" type="button" > Previoius </button></a>
                    <button type="submit" class="btn btn-primary" (click)="contactPageSub()" [disabled]="contactPage.invalid">Show me</button>
                    
                  </form>
               </div>
           </div>
        </div>
    </div>
</div>
